.THIS .section-title-custom {
    display: flex;
    align-items: center;
    background: rgb(243, 242, 242);
    width: 100%;
    text-align: left;
    color: currentColor;
    font-size: inherit;
    padding: 0 0.5rem;
    margin-top: 0.3rem;
}

.THIS .section-header-button {
    z-index: 1;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: 0.3rem;
}

.THIS .picture-container {
    width: 100%;
}

.THIS .pokemon-picture {
    width: 70%;
}